/* ==========================================
   RESET & ESTILOS GLOBALES
========================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: rgb(0, 0, 1);
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    min-height: 100vh;
    display: flex;

}

/* ==========================================
 ESTILOS GENERALES PARA BOTONES
   (Usados en todas las páginas)
========================================== */

button {
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #0071e3;
    color: aliceblue;
    border-radius: 980px;
    margin: 20px 10px 0 10px;

}

button:hover {
    background-color: rgb(149, 149, 149);
    color: rgb(255, 255, 255);
}

/* ==========================================
   INDEX.HTML — Página principal
========================================== */

header {
    padding-top: 80px;
    line-height: 40px;
}

main {
    flex-grow: 1;
    padding: 5px;
    color: #6e6e73;
}

footer {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-top: 30px;
    font-size: 14px;
    color: #333;
}

/* ==========================================
   FORMULARIOS (login y register)
========================================== */

.login-container,
.register-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 60px auto;
    text-align: center;
}

.form-group {
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #6e6e73;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border-color: #6e6e73;
}

input:focus {
    border-color: #0077cc;
}

/* TEXTO DEBAJO DEL FORMULARIO LOGIN-REGISTER*/
p {
    margin-top: 1rem;
    text-align: center;
    color: #6e6e73;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* MENU */
.home-body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 220px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #e0e0e0;
    transition: width 0.3s ease;
    overflow: visible;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 100;
}

.sidebar.colapsada {
    width: 60px;
}

.sidebar-header {
    padding: 20px 15px;
}

.sidebar-header h2 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.sidebar.colapsada .sidebar-header h2 {
    display: none !important;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sidebar.colapsada .nav-link {
    justify-content: center;
    position: relative;
}

.icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
/* Íconos menu */
.icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-right: 10px;
}

.text-label {
    margin-left: 10px;
}

.sidebar.colapsada .text-label {
    display: none !important;
}

/* Tooltip oculto por defecto */
.tooltip-text {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;
    pointer-events: none;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.colapsada .nav-link {
    position: relative;
    justify-content: center;
}

.sidebar.colapsada .nav-link:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}

/* Sub menu "Mas"*/
.dropdown-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 200;
    min-width: 150px;
}

.dropdown-item {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.sidebar.colapsada .dropdown-menu {
    left: 60px;
}
/* ==========================================
   SIDEBAR DE CUENTAS
========================================== */

.sidebar-plataformas {
    width: 180px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    padding: 0 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 220px;
    z-index: 90;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar.colapsada + .sidebar-plataformas {
    left: 60px;
}

.sidebar + .sidebar-plataformas {
    left: 220px;
}

.plataforma-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.plataforma {
    margin-bottom: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: left;
    width: 100%;
}

.plataforma:hover {
    color: #333;
}

.plataforma.activa {
    font-weight: bold;
}

.boton-plataforma {
    margin-top: 30px;
    text-align: center;
    align-self: center;
}

.boton-plataforma button {
    background-color: #337ded;
    color: white;
    padding: 8px 18px; 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: auto;  
    min-width: 120px; 
    display: inline-block;
}

.boton-plataforma button:hover {
    background-color: rgb(149, 149, 149);
    color: rgb(255, 255, 255);
}

/* ==========================================
   CONTENIDO DE LAS PAGINAS
========================================== */

.contenido {
    margin-left: 220px; 
    padding: 40px;
    width: calc(100% - 220px);
    transition: margin-left 0.3s ease, width 0.3s ease;
}

/* ==========================================
   CONTENIDO PARA MODAL + PLATAFORMA
========================================== */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-contenido {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 350px;
    border-radius: 10px;
    text-align: center;
  }

  .modal-contenido h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap; 
  }

  .modal-contenido input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .modal-contenido button {
    background-color: #0071e3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .cerrar-modal {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  